@import url('https://fonts.googleapis.com/css2?display=swap&family=Baloo+Tamma+2:wght@400;600&family=Bangers&family=Oswald');

:root {
  --font-family: Oswald, 'Baloo Tamma 2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --primary-color: #813fd4;
  --secondary-color: #7ad1d1;
  --accent-color: #c9cdfd;
  --primary-color: #4d45b4;
}

html {
  font-family: var(--font-family);
}

html, body, #routify-app, .splash {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow: auto;
}

.splash {
  min-height: 100vh;
  background: no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.hero {
  text-align: center;
  /* transform: translate(-50%, 0);
  position: absolute;
  left:50%;
  top: 20%; */
}
.hero * {
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.hero h1 {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin: 0;
    line-height: 1;
    font-size: min(196px, 30vw);
    font-weight: 900;
    font-family: bangers;
    position: relative;
    display: inline-block;
}
.hero h2 {
    font-size: min(64px, 10vw);
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    margin: 0;
}
.hero .powered {
  color: rgba(0,0,0, 0.6);
  text-shadow: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.hero code {
  background: rgba(50,50,50, 1);
  padding: 12px 24px;
  font-size: clamp(12px, 2.5vw, 16px);
  white-space: nowrap;
  color: #ccc;
}
.preview {
  color: #fff
}
.soon {
  font-size: min(36px, 6vw);
  position: absolute;
  left:0;
  top: 0;
  transform: rotate(-15deg) translate(-50%, -50%);
  color: #222;
  text-shadow: none;
}
